
    .calendar {
    display: flex;
    background-color: #442a5ed5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: white;
    border-radius: 10px;
    width: 360px; 
    height: 50px; 
    justify-content: space-evenly;
    margin: auto;
}  
   .calendar:hover {
    background-color: #8448ce;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
   .bi-calendar2-event{
    font-size: 30px;
}
   .timeAndDate{
    font-size: 27px;
}