.goalUsers {
  position: relative;
  background-color: transparent;
  display: grid;
  color: black;
}

.spacingBetweentables {
  display: flex;
  gap: 50px;
  align-items: center;
}

.spacingBetweentUserAndRole {
  display: flex;
  gap: 300px;
}

/* .profileGoalImageDev{

} */

.profileImage {
  width: 100px;
}

.userRecentName {
    color: black;
  font-size: 28px;
  font-weight: 550;
}
.userRecentRole{
    color: black;
    font-size: 28px;
  }


