@font-face {
    font-family: 'Donegal One';
    src: local('Donegal One'), url('/Donegal_One/DonegalOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Sofia Sans';
    src: local('SofiaSans'), url('/Sofia_Sans/SofiaSansSemiCondensed-VariableFont_wght.ttf') format('truetype');
}
.Report-Header{
    display: flex;
    flex-direction: row;
    gap:1%;
}
.Report-Header-Title{
    font-family: 'Donegal One', sans-serif;
    font-size: 19px;
    margin-top: 30px;
    height: 3px;
}
.Report-Header-SubTitle{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 42px;
    margin-top: 0;
    font-weight: bold;
}
.Report-Header-Box{
    display: flex;
    flex-direction: column;
    width:15.5%;
    height: 143px;
    background-color: #D0BDE7;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    gap:0;
}
.date-input-container {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    justify-items: stretch;
  }
  .Report-Date-Box{
    font-family: 'Sofia Sans', sans-serif;
    background-color: #e3d3f8;
    width: 15%;
    height: 43px;
    font-size: 21px;
    border-radius: 10px;
    border: none;
    text-align: center;
    display: flex;
    margin-left: 10px;
  }
  .Report-Date-Box-Label{
    font-family: 'Sofia Sans', sans-serif;
    margin-left: 1%;
    /* margin-right: 10px; */
    font-size: 20px;
    display: flex;
    justify-content:space-around;

  }
  .Report-Date-Box-Button {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    background-color: #421C5F;
    color: white;
}
.Report-Date-Box-Button:hover ,.Report-Date-Box:hover {
    border: 2px solid #000;
}
.Report-Statstics{
    display: flex;
    width: 100%;
}
.Report-Recent-Transactions{
    background-color: #DABEF5;
    width: 40%;
    height: fit-content;
    border-radius: 23px;
    margin-top: 15px;
}
.Report-Recent-Transactions-Header{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    height: 5px;
}
.Report-Recent-Transactions-SubHeader{
    padding-left: 15px;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 25px;
}
.Report-Recent-Transactions-Table{
    font-family: 'Sofia Sans', sans-serif;
    border-collapse: collapse;
    border-radius: 30px;
    width: 20%;
    height: 60px;
    text-align: center;
    font-size: 30px; 
}
.Report-Recent-Transactions-Table-Header{
    color: white;
    background-color:#421C5F;
    border-radius: 15px;
}
.Report-Chart{
    width: 45%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
