/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Slab:ital,wght@0,400;1,300&display=swap');
.sidebar{
    background-color:#421C5F;
    width: 270px;
    height: 773px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}
.sidebar a {
    text-decoration: none;
    color:white;
    display: flex;
    padding: 30px;
    cursor: pointer;
    font-size: 23px;
}
.dash {
    font-weight: bold;
    font-size: 40px;
    display: none;
}
.sidebar a.selected .dash{ 
    display:inline;
    margin-inline-start: -34px;
}
@media screen and (min-width: 50px) and (max-width: 1080px) {
    .sidebar {
      width: 240px; /* Adjust the width for the collapsed sidebar */
      height: 100vh;
    }
  
    .sidebar a {
      padding: 15px; /* Adjust the padding for the links */
    }
  
    .selected {
      display: flex;
      margin-inline-start: -20px;
    }
  
    .sidebar a.selected .dash {
      margin-inline-start: 0; 
      /* Reset margin for selected link */
    }
  }

