.user-container{
    display:flex;
    /* align-items: center; */
    font-size: 33px;
    flex-direction: column;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}
.User-form{
    background: 
    linear-gradient(180deg,
    rgba(218, 190, 245, 0.46) 12.12%,
    rgba(178, 147, 216, 0.28) 53.96%, 
    rgba(145, 182, 216, 0.00) 110.19%
    );
    border-radius: 20px;
    align-items: center;
}
.user-table-header, .user-table-data {
    padding: 10px;
    text-align: center;
}
.user-table {
    width: 100%;
    border-collapse:collapse;

}
.user-table-body {
    padding: 15px;
    text-align: center;
}
thead {
    background-color: #442A5E;
    color: blanchedalmond;
    border-radius: 20px;
    margin-top:20px ;
}
.User-Add-button{

    background-color: #442A5E;
    height:50px;
    width: 160px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    margin-left: 80%;
}
.user-title{
    font-size: 50px;
    font-weight: 540;
    color: #442A5E;
}
@media only screen and (max-width: 1080px) {
.user-table{
    font-size: 25px;
}
}